src/main/java/com/xceptance/xlt/report/external/config/externaldataconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name="config" type="config"/>

    <xsd:complexType name="config">
        <xsd:sequence>
            <xsd:element name="files" type="files"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="files">
        <xsd:sequence>
            <xsd:element name="file" type="file" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="file">
        <xsd:all>
            <xsd:element name="headline" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tables" type="tables" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="charts" type="charts" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="properties" type="properties" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
        <xsd:attribute name="source" type="nonBlankString" use="required"/>
        <xsd:attribute name="encoding" type="nonBlankString" default="UTF-8"/>
        <xsd:attribute name="parserClass" type="nonBlankString" use="required"/>
    </xsd:complexType>

    <!-- Tables -->
    <xsd:complexType name="tables">
        <xsd:sequence>
            <xsd:element name="table" type="table" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="table">
        <xsd:choice>
            <xsd:element name="rows" type="rows"/>
            <xsd:element name="cols" type="cols"/>
        </xsd:choice>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="type" default="minmaxavg">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="minmaxavg"/>
                    <xsd:enumeration value="plain"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>


    <xsd:complexType name="rows">
        <xsd:sequence>
            <xsd:element name="row" type="rowOrCol" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="cols">
        <xsd:sequence>
            <xsd:element name="col" type="rowOrCol" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="rowOrCol">
        <xsd:attribute name="valueName" type="nonBlankString" use="required"/>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="unit" type="xsd:string"/>
    </xsd:complexType>

    <!-- Charts -->
    <xsd:complexType name="charts">
        <xsd:sequence>
            <xsd:element name="chart" type="chart" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="chart">
        <xsd:sequence>
            <xsd:element name="seriesCollection" type="seriesCollection" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="title" type="nonBlankString" default="Unnamed"/>
        <xsd:attribute name="xAxisTitle" type="xsd:string"/>
        <xsd:attribute name="yAxisTitle" type="xsd:string"/>
        <xsd:attribute name="yAxisTitle2" type="xsd:string"/>
    </xsd:complexType>

    <xsd:complexType name="seriesCollection">
        <xsd:sequence>
            <xsd:element name="series" type="series" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="series">
        <xsd:attribute name="valueName" type="nonBlankString" use="required"/>
        <xsd:attribute name="title" type="xsd:string"/>
        <xsd:attribute name="description" type="xsd:string"/>
        <xsd:attribute name="color" type="xsd:string"/>
        <xsd:attribute name="axis" default="1">
            <xsd:simpleType>
                <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="1"></xsd:enumeration>
                    <xsd:enumeration value="2"></xsd:enumeration>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="average" type="xsd:string"/>
        <xsd:attribute name="averageColor" type="xsd:string"/>
    </xsd:complexType>

    <!-- Properties -->
    <xsd:complexType name="properties">
        <xsd:sequence>
            <xsd:element name="property" type="property" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="property">
        <xsd:attribute name="key" type="nonBlankString" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Misc -->
    <xsd:simpleType name="nonBlankString">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"></xsd:minLength>
            <xsd:whiteSpace value="collapse"></xsd:whiteSpace>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
