src/main/java/com/xceptance/xlt/engine/scripting/xlt-script.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://xlt.xceptance.com/xlt-script/2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xml="http://www.w3.org/XML/1998/namespace" targetNamespace="http://xlt.xceptance.com/xlt-script/2"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xsd:element name="testcase" type="complexType.TestCase" />
    <xsd:element name="scriptmodule" type="complexType.ScriptModule" />
    <xsd:element name="javamodule" type="complexType.JavaModule" />

    <xsd:complexType name="complexType.TestCase">
        <xsd:sequence>
            <xsd:group ref="group.Script.Meta" />
            <xsd:sequence>
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:group ref="group.Script.Actions" />
                </xsd:sequence>
                <xsd:element name="postSteps" minOccurs="0"
                    maxOccurs="1" type="complexType.TestCase.PostSteps" />
            </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="version" type="simpleType.VersionIdent"
            use="required" />
        <xsd:attribute name="id" type="simpleType.NonEmptyString"
            use="optional" />
        <xsd:attribute name="junit-test" type="xsd:boolean" use="optional" />
        <xsd:attribute name="baseURL" type="simpleType.NonEmptyString"
            use="optional" />
        <xsd:attribute name="disabled" type="xsd:boolean" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="complexType.TestCase.PostSteps">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:group ref="group.Script.Actions"></xsd:group>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="complexType.ScriptModule">
        <xsd:sequence>
            <xsd:group ref="group.Script.Meta" />
            <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded"
                type="complexType.Module.Parameter" />
            <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                <xsd:group ref="group.Script.Actions" />
            </xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="version" type="simpleType.VersionIdent"
            use="required" />
        <xsd:attribute name="id" type="simpleType.NonEmptyString"
            use="optional" />
    </xsd:complexType>


    <xsd:group name="group.Script.Meta">
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="2">
                <xsd:element name="tags" type="xsd:string"
                    minOccurs="0" maxOccurs="1" />
                <xsd:element name="description" type="xsd:string"
                    minOccurs="0" maxOccurs="1" />
            </xsd:choice>
        </xsd:sequence>
    </xsd:group>

    <xsd:group name="group.Script.Actions">
        <xsd:choice>
            <xsd:element name="command" type="complexType.Script.Command" />
            <xsd:element name="action" type="complexType.Script.Action" />
            <xsd:group ref="group.Script.CommentOrModule" />
        </xsd:choice>
    </xsd:group>

    <xsd:group name="group.Script.CommentOrModule">
        <xsd:choice>
            <xsd:element name="module" type="complexType.Script.Module" />
            <xsd:element name="codecomment" type="xsd:string" />
        </xsd:choice>
    </xsd:group>

    <xsd:complexType name="complexType.Script.Command">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="target" type="simpleType.NonEmptyString"
                minOccurs="0" maxOccurs="1" />
            <xsd:element name="value" type="simpleType.NonEmptyString"
                minOccurs="0" maxOccurs="1" />
            <xsd:element name="comment" type="xsd:string" minOccurs="0"
                maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="name" type="simpleType.Script.Command.Name"
            use="required" />
        <xsd:attribute name="disabled" type="xsd:boolean" use="optional" />
        <xsd:attribute name="target" type="xsd:string" use="optional" />
        <xsd:attribute name="value" type="simpleType.String.128"
            use="optional" />
    </xsd:complexType>

    <xsd:simpleType name="simpleType.Script.Command.Name">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="addSelection" />
            <xsd:enumeration value="assertAttribute" />
            <xsd:enumeration value="assertChecked" />
            <xsd:enumeration value="assertClass" />
            <xsd:enumeration value="assertElementCount" />
            <xsd:enumeration value="assertElementPresent" />
            <xsd:enumeration value="assertEval" />
            <xsd:enumeration value="assertLoadTime" />
            <xsd:enumeration value="assertPageSize" />
            <xsd:enumeration value="assertSelectedId" />
            <xsd:enumeration value="assertSelectedIndex" />
            <xsd:enumeration value="assertSelectedLabel" />
            <xsd:enumeration value="assertSelectedValue" />
            <xsd:enumeration value="assertStyle" />
            <xsd:enumeration value="assertText" />
            <xsd:enumeration value="assertTextPresent" />
            <xsd:enumeration value="assertTitle" />
            <xsd:enumeration value="assertValue" />
            <xsd:enumeration value="assertVisible" />
            <xsd:enumeration value="assertXpathCount" />
            <xsd:enumeration value="assertNotAttribute" />
            <xsd:enumeration value="assertNotChecked" />
            <xsd:enumeration value="assertNotClass" />
            <xsd:enumeration value="assertNotElementCount" />
            <xsd:enumeration value="assertNotElementPresent" />
            <xsd:enumeration value="assertNotEval" />
            <xsd:enumeration value="assertNotSelectedId" />
            <xsd:enumeration value="assertNotSelectedIndex" />
            <xsd:enumeration value="assertNotSelectedLabel" />
            <xsd:enumeration value="assertNotSelectedValue" />
            <xsd:enumeration value="assertNotStyle" />
            <xsd:enumeration value="assertNotText" />
            <xsd:enumeration value="assertNotTextPresent" />
            <xsd:enumeration value="assertNotTitle" />
            <xsd:enumeration value="assertNotValue" />
            <xsd:enumeration value="assertNotVisible" />
            <xsd:enumeration value="assertNotXpathCount" />
            <xsd:enumeration value="check" />
            <xsd:enumeration value="checkAndWait" />
            <xsd:enumeration value="click" />
            <xsd:enumeration value="clickAndWait" />
            <xsd:enumeration value="close" />
            <xsd:enumeration value="contextMenu" />
            <xsd:enumeration value="contextMenuAt" />
            <xsd:enumeration value="createCookie" />
            <xsd:enumeration value="deleteAllVisibleCookies" />
            <xsd:enumeration value="deleteCookie" />
            <xsd:enumeration value="doubleClick" />
            <xsd:enumeration value="doubleClickAndWait" />
            <xsd:enumeration value="echo" />
            <xsd:enumeration value="mouseDown" />
            <xsd:enumeration value="mouseDownAt" />
            <xsd:enumeration value="mouseMove" />
            <xsd:enumeration value="mouseMoveAt" />
            <xsd:enumeration value="mouseOut" />
            <xsd:enumeration value="mouseOver" />
            <xsd:enumeration value="mouseUp" />
            <xsd:enumeration value="mouseUpAt" />
            <xsd:enumeration value="open" />
            <xsd:enumeration value="pause" />
            <xsd:enumeration value="removeSelection" />
            <xsd:enumeration value="select" />
            <xsd:enumeration value="selectAndWait" />
            <xsd:enumeration value="storeElementCount" />
            <xsd:enumeration value="selectFrame" />
            <xsd:enumeration value="selectWindow" />
            <xsd:enumeration value="setTimeout" />
            <xsd:enumeration value="store" />
            <xsd:enumeration value="storeAttribute" />
            <xsd:enumeration value="storeEval" />
            <xsd:enumeration value="storeText" />
            <xsd:enumeration value="storeTitle" />
            <xsd:enumeration value="storeValue" />
            <xsd:enumeration value="storeXpathCount" />
            <xsd:enumeration value="submit" />
            <xsd:enumeration value="submitAndWait" />
            <xsd:enumeration value="type" />
            <xsd:enumeration value="typeAndWait" />
            <xsd:enumeration value="uncheck" />
            <xsd:enumeration value="uncheckAndWait" />
            <xsd:enumeration value="waitForAttribute" />
            <xsd:enumeration value="waitForChecked" />
            <xsd:enumeration value="waitForClass" />
            <xsd:enumeration value="waitForElementCount" />
            <xsd:enumeration value="waitForPageToLoad" />
            <xsd:enumeration value="waitForPopUp" />
            <xsd:enumeration value="waitForElementPresent" />
            <xsd:enumeration value="waitForEval" />
            <xsd:enumeration value="waitForSelectedId" />
            <xsd:enumeration value="waitForSelectedIndex" />
            <xsd:enumeration value="waitForSelectedLabel" />
            <xsd:enumeration value="waitForSelectedValue" />
            <xsd:enumeration value="waitForStyle" />
            <xsd:enumeration value="waitForText" />
            <xsd:enumeration value="waitForTextPresent" />
            <xsd:enumeration value="waitForTitle" />
            <xsd:enumeration value="waitForValue" />
            <xsd:enumeration value="waitForVisible" />
            <xsd:enumeration value="waitForXpathCount" />
            <xsd:enumeration value="waitForNotAttribute" />
            <xsd:enumeration value="waitForNotChecked" />
            <xsd:enumeration value="waitForNotClass" />
            <xsd:enumeration value="waitForNotElementCount" />
            <xsd:enumeration value="waitForNotElementPresent" />
            <xsd:enumeration value="waitForNotEval" />
            <xsd:enumeration value="waitForNotSelectedId" />
            <xsd:enumeration value="waitForNotSelectedIndex" />
            <xsd:enumeration value="waitForNotSelectedLabel" />
            <xsd:enumeration value="waitForNotSelectedValue" />
            <xsd:enumeration value="waitForNotStyle" />
            <xsd:enumeration value="waitForNotText" />
            <xsd:enumeration value="waitForNotTextPresent" />
            <xsd:enumeration value="waitForNotTitle" />
            <xsd:enumeration value="waitForNotValue" />
            <xsd:enumeration value="waitForNotVisible" />
            <xsd:enumeration value="waitForNotXpathCount" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="complexType.Script.Module">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="comment" type="xsd:string" minOccurs="0"
                maxOccurs="1" />
            <xsd:element name="condition" type="complexType.Script.Module.Condition"
                minOccurs="0" maxOccurs="1" />
            <xsd:element name="parameter" type="complexType.Script.Module.Parameter"
                minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="name" type="simpleType.NonEmptyString"
            use="required" />
        <xsd:attribute name="disabled" type="xsd:boolean" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="complexType.Script.Module.Condition">
        <xsd:simpleContent>
            <xsd:extension base="simpleType.NonEmptyString">
                <xsd:attribute name="disabled" type="xsd:boolean"
                    use="optional" />
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="complexType.Script.Module.Parameter">
        <xsd:attribute name="name" type="simpleType.NonEmptyString"
            use="required" />
        <xsd:attribute name="value" type="xsd:string" use="required" />
    </xsd:complexType>

    <xsd:complexType name="complexType.Script.Action">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="comment" type="xsd:string" minOccurs="0"
                maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="name" type="simpleType.NonEmptyString"
            use="required" />
        <xsd:attribute name="disabled" type="xsd:boolean" use="optional" />
    </xsd:complexType>

    <xsd:complexType name="complexType.JavaModule">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:group ref="group.Script.Meta" />
            <xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded"
                type="complexType.Module.Parameter" />
        </xsd:sequence>
        <xsd:attribute name="version" type="simpleType.VersionIdent"
            use="required" />
        <xsd:attribute name="class" type="simpleType.NonEmptyString"
            use="required" />
        <xsd:attribute name="id" type="simpleType.NonEmptyString"
            use="optional" />
    </xsd:complexType>

    <xsd:complexType name="complexType.Module.Parameter">
        <xsd:attribute name="name" type="simpleType.NonEmptyString"
            use="required" />
        <xsd:attribute name="desc" type="simpleType.NonEmptyString"
            use="optional" />
    </xsd:complexType>

    <xsd:simpleType name="simpleType.NonEmptyString">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="simpleType.String.128">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="128" />
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="simpleType.VersionIdent">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="2"></xsd:minInclusive>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
